<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE>
<Configuration status="info" name="RoutingTest" monitorInterval="10">
  <Properties>
    <Property name="filename">D:/Micro-Logs/log.out</Property>
  </Properties>
  <ThresholdFilter level="debug"/>
 
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{yyyy-mm-dd hh:mm:ss}-%m%n"/>
      <ThresholdFilter level="debug"/>
    </Console>
    
          <RollingFile name="Rolling-File" fileName="${filename}"
                       filePattern="D:/Micro-Logs/log-%d{yyyy-dd-mm}-%i.out">
            <PatternLayout>
              <pattern>%d{yyyy-mm-dd hh:mm:ss}-%m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="500" />
          </RollingFile>
       
  </Appenders>
 
  <Loggers>
  
 
    <Root level="info">
      <AppenderRef ref="Rolling-File"/>
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
 
</Configuration>
