<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="RoutingTest" monitorInterval="10">
  <Properties>
    <Property name="filename">D:/Micro-Logs/log.out</Property>
  </Properties>
  <ThresholdFilter level="debug"/>
 
  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{yyyy-mm-dd hh:mm:ss}-%m%n"/>
      <ThresholdFilter level="debug"/>
    </Console>
    <Routing name="Routing">
      <Routes pattern="file">
        <Route>
          <RollingFile name="Rolling-file" fileName="${filename}"
                       filePattern="D:/Micro-Logs/log-%d{yyyy-dd-mm}-%i.out">
            <PatternLayout>
              <pattern>%d{yyyy-mm-dd hh:mm:ss}-%m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="500" />
          </RollingFile>
        </Route>
        <Route ref="STDOUT" key="Audit"/>
      </Routes>
    </Routing>
  </Appenders>
 
  <Loggers>
    <Logger name="EventLogger" level="info" additivity="false">
      <AppenderRef ref="Routing"/>
    </Logger>
 
    <Root level="error">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
 
</Configuration>
